interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_441097fb-50e3-4944-a820-65dadcc6c9a5
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/calendar/events/2e8d4058-ce62-4b30-8b71-07df4eefbf55
  response:
    body:
      string: '[{"errorCode": "NOT_VALID_JSON_WEB_TOKEN", "componentType": "AUTH",
        "message": "Not valid JWT", "details": {}, "date": "2022-11-13T16:51:03.055Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: ''
- request:
    body: '{"secret": "API_TOKEN_b4dc6814-c5e5-4e2d-b840-fdd118af52d5"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/api_clients/api_client_REDACTED
  response:
    body:
      string: '{"token": "token_REDACTED_1183af9c-da3f-4466-96dc-2ef64845b894"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_441097fb-50e3-4944-a820-65dadcc6c9a5
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/calendar/events/2e8d4058-ce62-4b30-8b71-07df4eefbf55
  response:
    body:
      string: '{"id": "2e8d4058-ce62-4b30-8b71-07df4eefbf55", "createdBy": "createdBy_REDACTED_11fed57f-e0e6-47c7-be3b-9a4d747d48f1",
        "createdAt": "2022-11-02T23:48:17.066Z", "updatedBy": "updatedBy_REDACTED_45812bf0-0421-4235-89b1-c36e4c61237a",
        "updatedAt": "2022-11-02T23:48:17.066Z", "externalId": null, "externalIdUpdatedAt":
        "2022-11-02T23:48:17.066Z", "eventTitle": "Initial Consultation", "eventDescription":
        "", "startDateTime": "2022-11-02T00:00:00.000Z", "localStartDateTime": "2022-11-02T00:00:00.000+00:00",
        "endDateTime": "2022-11-02T00:30:00.000Z", "localEndDateTime": "2022-11-02T00:30:00.000+00:00",
        "allDayEvent": false, "duration": 1800, "eventType": "ENCOUNTER", "eventStatus":
        "Scheduled", "eventMode": "VIDEO", "eventColor": "#e67b2d", "hostId": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4",
        "timezone": "UTC", "additionalInfo": null, "participants": [{"id": "a0b16afd-f03b-4772-b8b8-174c9b1866f8",
        "participantId": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4", "participantRole":
        "psm", "participationStatus": "", "attended": false, "timezone": null, "firstName":
        "Sam", "lastName": "Morgan", "deleted": false, "hasAccess": true, "email":
        "sam@lightmatter.com", "phone": null, "gender": null, "birthDate": null, "enabled":
        true}, {"id": "f580c934-5120-4021-9e12-1ba3ce3c1cf1", "participantId": "fcf051b7-1d8e-4912-b402-e2c436e4c2cc",
        "participantRole": "patient", "participationStatus": "", "attended": false,
        "timezone": null, "firstName": "Webhook", "lastName": "Patient", "deleted":
        false, "hasAccess": false, "email": null, "phone": null, "gender": "UNKNOWN",
        "birthDate": null, "enabled": null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_441097fb-50e3-4944-a820-65dadcc6c9a5
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users/a559fa83-e3ec-4773-8ed7-3bc069d1f7c4?type=ID
  response:
    body:
      string: '{"territories": [], "roles": [{"createdAt": "2022-08-08T17:49:14.379Z",
        "updatedAt": "2022-08-08T17:49:14.379Z", "permissionName": "r-admin", "instanceName":
        "sandbox", "type": "SECURITY_ROLE", "primaryRole": true}], "policies": [],
        "seats": [], "seatAssignAllowed": true, "applicationAccess": {"id": "28d01d29-e8bf-46f4-995a-25986783b3b2",
        "createdAt": "2022-08-03T21:37:00.540Z", "updatedAt": "2022-08-03T21:37:51.862Z",
        "userId": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4", "adminAccessEnabled": true,
        "auditSecurityAccessEnabled": true, "instanceAccesses": [{"instanceId": "4ae73a82-a73e-477f-9ac7-933fabf3d0fc",
        "instanceName": "live", "instanceDescription": "Live", "userEmailWithInstanceDomain":
        null, "workshopAccessEnabled": true, "auditDataAccessEnabled": true}, {"instanceId":
        "03e2c7fc-c8cf-47d0-9b55-b6c8a6792243", "instanceName": "sandbox", "instanceDescription":
        "Sandbox", "userEmailWithInstanceDomain": null, "workshopAccessEnabled": true,
        "auditDataAccessEnabled": true}, {"instanceId": "edd053f6-0ea5-47e0-8aca-368ddb6e25bc",
        "instanceName": "staging", "instanceDescription": "Staging", "userEmailWithInstanceDomain":
        null, "workshopAccessEnabled": true, "auditDataAccessEnabled": true}]}, "createdByName":
        "createdByName_REDACTED_108d3dd2-6789-489c-835d-05224c514531", "updatedByName":
        "updatedByName_REDACTED_8daa39ff-70ab-43d3-b4f3-2867cf6e96b4", "id": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4",
        "username": "sam", "email": "sam@lightmatter.com", "locale": "en-US", "firstName":
        "Sam", "lastName": "Morgan", "enabled": true, "mfaEnabled": false, "statusType":
        null, "createdAt": "2022-08-03T21:37:00.536Z", "updatedAt": "2022-08-03T21:37:00.536Z",
        "ssoAccess": false, "passwordAccess": true, "terminologyName": "english",
        "userState": "ACTIVE", "customUserAttributes": {}, "allowedToReceiveCalls":
        true, "userAttributes": {}, "_root_user": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
