interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_88d504d5-e413-40a9-9483-62bc9e30f610
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc/cdts/_asm-appointment-checkin/31fabd93-2153-4518-b2ce-6fdb1892cf42
  response:
    body:
      string: '[{"errorCode": "NOT_VALID_JSON_WEB_TOKEN", "componentType": "AUTH",
        "message": "Not valid JWT", "details": {}, "date": "2022-11-13T17:23:24.648Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: ''
- request:
    body: '{"secret": "API_TOKEN_ff90873e-44e4-4971-b915-b1f82f581c57"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/api_clients/api_client_REDACTED
  response:
    body:
      string: '{"token": "token_REDACTED_9a9199b9-208c-4736-bfd1-be27e859b6ec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_88d504d5-e413-40a9-9483-62bc9e30f610
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc/cdts/_asm-appointment-checkin/31fabd93-2153-4518-b2ce-6fdb1892cf42
  response:
    body:
      string: '{"id": "31fabd93-2153-4518-b2ce-6fdb1892cf42", "patientId": "fcf051b7-1d8e-4912-b402-e2c436e4c2cc",
        "cdtId": "ef388b6b-0cc1-4a29-86c0-0a4d02811548", "version": 11, "jsonBody":
        {}, "cdtName": "_asm-appointment-checkin"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
