interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_bb7d70ae-a860-4823-8923-9c87e5b6432f
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc
  response:
    body:
      string: '[{"errorCode": "NOT_VALID_JSON_WEB_TOKEN", "componentType": "AUTH",
        "message": "Not valid JWT", "details": {}, "date": "2022-11-13T18:37:23.294Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: ''
- request:
    body: '{"secret": "API_TOKEN_88f54b67-394c-4cc6-9743-5f4f21487562"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/api_clients/api_client_REDACTED
  response:
    body:
      string: '{"token": "token_REDACTED_be811033-69ac-47bf-ae2c-3f0a7ec81c39"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_bb7d70ae-a860-4823-8923-9c87e5b6432f
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc
  response:
    body:
      string: '{"createdByName": "createdByName_REDACTED_cdfa8709-8094-4013-91e9-c3df8cdd1e30",
        "lastName": "Patient", "country": null, "secondaryEmail": null, "gender":
        "UNKNOWN", "city": null, "timezone": null, "careTeamMembers": [{"id": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4",
        "pointOfContact": true}], "secondaryPhoneCapabilities": [], "createdAt": "2022-11-02T23:46:43.250Z",
        "accessCode": null, "addressLine1": null, "addressLine2": null, "id": "fcf051b7-1d8e-4912-b402-e2c436e4c2cc",
        "state": null, "secondaryLanguage": null, "email": null, "careTeam": [{"id":
        "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4", "username": "sam", "firstName": "Sam",
        "lastName": "Morgan", "email": "sam@lightmatter.com", "roles": [{"name": "r-admin",
        "primaryRole": true}], "pointOfContact": true, "enabled": true}], "updatedAt":
        "2022-11-07T15:59:18.267Z", "primaryPhoneCapabilities": [], "pointOfContact":
        {"id": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4", "pointOfContact": true}, "zip":
        null, "updatedBy": "updatedBy_REDACTED_9ffb8674-0744-424c-a314-422310edc96b",
        "updatedByName": "updatedByName_REDACTED_b057bfea-9f74-4f73-8510-28e7cebaf26c",
        "mrn": null, "externalId": null, "externalGuid": null, "patientPrograms":
        [], "nric": null, "birthDate": null, "cadence": [], "firstName": "Webhook",
        "patientRegionTitle": null, "createdBy": "createdBy_REDACTED_b8f20536-accc-4ace-8ccc-a4081719b25f",
        "phone": null, "middleName": null, "patientTerritories": [], "patientRegion":
        null, "maritalStatus": "UKN", "primaryLanguage": "ENGLISH", "secondaryPhone":
        null, "patientTerritory": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_bb7d70ae-a860-4823-8923-9c87e5b6432f
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc/chat?includeArchived=False&pageSize=20
  response:
    body:
      string: '{"meta": {"nextPageToken": null, "prevPageToken": null, "pageSize":
        20, "found": true}, "content": [{"sender": {"clientType": "USER", "id": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4",
        "titleName": "Sam Morgan", "patientFullName": null}, "message": "Energy equals
        mass times the speed of light squared.", "externalId": "IM0a37e161c8cb45a2bdf421c1c9d5c060",
        "createdAt": "2022-11-07T15:59:29.000Z"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_bb7d70ae-a860-4823-8923-9c87e5b6432f
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users/a559fa83-e3ec-4773-8ed7-3bc069d1f7c4?type=ID
  response:
    body:
      string: '{"territories": [], "roles": [{"createdAt": "2022-08-08T17:49:14.379Z",
        "updatedAt": "2022-08-08T17:49:14.379Z", "permissionName": "r-admin", "instanceName":
        "sandbox", "type": "SECURITY_ROLE", "primaryRole": true}], "policies": [],
        "seats": [], "seatAssignAllowed": true, "applicationAccess": {"id": "28d01d29-e8bf-46f4-995a-25986783b3b2",
        "createdAt": "2022-08-03T21:37:00.540Z", "updatedAt": "2022-08-03T21:37:51.862Z",
        "userId": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4", "adminAccessEnabled": true,
        "auditSecurityAccessEnabled": true, "instanceAccesses": [{"instanceId": "4ae73a82-a73e-477f-9ac7-933fabf3d0fc",
        "instanceName": "live", "instanceDescription": "Live", "userEmailWithInstanceDomain":
        null, "workshopAccessEnabled": true, "auditDataAccessEnabled": true}, {"instanceId":
        "03e2c7fc-c8cf-47d0-9b55-b6c8a6792243", "instanceName": "sandbox", "instanceDescription":
        "Sandbox", "userEmailWithInstanceDomain": null, "workshopAccessEnabled": true,
        "auditDataAccessEnabled": true}, {"instanceId": "edd053f6-0ea5-47e0-8aca-368ddb6e25bc",
        "instanceName": "staging", "instanceDescription": "Staging", "userEmailWithInstanceDomain":
        null, "workshopAccessEnabled": true, "auditDataAccessEnabled": true}]}, "createdByName":
        "createdByName_REDACTED_b4121203-be41-4e9f-aea1-f7ed12b438fe", "updatedByName":
        "updatedByName_REDACTED_57a0d973-3f0a-4ff0-b77f-f30536116190", "id": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4",
        "username": "sam", "email": "sam@lightmatter.com", "locale": "en-US", "firstName":
        "Sam", "lastName": "Morgan", "enabled": true, "mfaEnabled": false, "statusType":
        null, "createdAt": "2022-08-03T21:37:00.536Z", "updatedAt": "2022-08-03T21:37:00.536Z",
        "ssoAccess": false, "passwordAccess": true, "terminologyName": "english",
        "userState": "ACTIVE", "customUserAttributes": {}, "allowedToReceiveCalls":
        true, "userAttributes": {}, "_root_user": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
