interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_441097fb-50e3-4944-a820-65dadcc6c9a5
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc/chat?includeArchived=False&pageSize=20
  response:
    body:
      string: '[{"errorCode": "NOT_VALID_JSON_WEB_TOKEN", "componentType": "AUTH",
        "message": "Not valid JWT", "details": {}, "date": "2022-11-13T16:51:01.146Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: ''
- request:
    body: '{"secret": "API_TOKEN_b4dc6814-c5e5-4e2d-b840-fdd118af52d5"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/api_clients/api_client_REDACTED
  response:
    body:
      string: '{"token": "token_REDACTED_a97a67f9-a4ee-44a1-a09b-da8911c26e4b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_441097fb-50e3-4944-a820-65dadcc6c9a5
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc/chat?includeArchived=False&pageSize=20
  response:
    body:
      string: '{"meta": {"nextPageToken": null, "prevPageToken": null, "pageSize":
        20, "found": true}, "content": [{"sender": {"clientType": "USER", "id": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4",
        "titleName": "Sam Morgan", "patientFullName": null}, "message": "Energy equals
        mass times the speed of light squared.", "externalId": "IM0a37e161c8cb45a2bdf421c1c9d5c060",
        "createdAt": "2022-11-07T15:59:29.000Z"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_441097fb-50e3-4944-a820-65dadcc6c9a5
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users/a559fa83-e3ec-4773-8ed7-3bc069d1f7c4?type=ID
  response:
    body:
      string: '{"territories": [], "roles": [{"createdAt": "2022-08-08T17:49:14.379Z",
        "updatedAt": "2022-08-08T17:49:14.379Z", "permissionName": "r-admin", "instanceName":
        "sandbox", "type": "SECURITY_ROLE", "primaryRole": true}], "policies": [],
        "seats": [], "seatAssignAllowed": true, "applicationAccess": {"id": "28d01d29-e8bf-46f4-995a-25986783b3b2",
        "createdAt": "2022-08-03T21:37:00.540Z", "updatedAt": "2022-08-03T21:37:51.862Z",
        "userId": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4", "adminAccessEnabled": true,
        "auditSecurityAccessEnabled": true, "instanceAccesses": [{"instanceId": "4ae73a82-a73e-477f-9ac7-933fabf3d0fc",
        "instanceName": "live", "instanceDescription": "Live", "userEmailWithInstanceDomain":
        null, "workshopAccessEnabled": true, "auditDataAccessEnabled": true}, {"instanceId":
        "03e2c7fc-c8cf-47d0-9b55-b6c8a6792243", "instanceName": "sandbox", "instanceDescription":
        "Sandbox", "userEmailWithInstanceDomain": null, "workshopAccessEnabled": true,
        "auditDataAccessEnabled": true}, {"instanceId": "edd053f6-0ea5-47e0-8aca-368ddb6e25bc",
        "instanceName": "staging", "instanceDescription": "Staging", "userEmailWithInstanceDomain":
        null, "workshopAccessEnabled": true, "auditDataAccessEnabled": true}]}, "createdByName":
        "createdByName_REDACTED_07e2026d-3d8d-4fd4-8e2f-498551cd75c7", "updatedByName":
        "updatedByName_REDACTED_23005d27-5474-467b-ba8f-2a2b945765b8", "id": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4",
        "username": "sam", "email": "sam@lightmatter.com", "locale": "en-US", "firstName":
        "Sam", "lastName": "Morgan", "enabled": true, "mfaEnabled": false, "statusType":
        null, "createdAt": "2022-08-03T21:37:00.536Z", "updatedAt": "2022-08-03T21:37:00.536Z",
        "ssoAccess": false, "passwordAccess": true, "terminologyName": "english",
        "userState": "ACTIVE", "customUserAttributes": {}, "allowedToReceiveCalls":
        true, "userAttributes": {}, "_root_user": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
