interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_f24b84af-d683-4854-878b-df19a7252c3a
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/89ec0634-50f3-40b1-981d-22ab39dd3037/cdts/insurance/9be39258-9a81-4dc4-953a-630e4e5fc77b
  response:
    body:
      string: '[{"errorCode": "NOT_VALID_JSON_WEB_TOKEN", "componentType": "AUTH",
        "message": "Not valid JWT", "details": {}, "date": "2022-10-14T00:59:35.372Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: ''
- request:
    body: '{"secret": "API_TOKEN_6e000fea-98ad-4fcb-91d6-86a32f1524c7"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/api_clients/api_client_REDACTED
  response:
    body:
      string: '{"token": "token_REDACTED_0d2bbe38-71c0-43b3-a9b4-9b4ba3570f85"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_f24b84af-d683-4854-878b-df19a7252c3a
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/89ec0634-50f3-40b1-981d-22ab39dd3037/cdts/insurance/9be39258-9a81-4dc4-953a-630e4e5fc77b
  response:
    body:
      string: '[{"errorCode": "DT_NOT_FOUND", "componentType": "CDT", "message": "DT
        not found", "details": {"name": "insurance"}, "date": "2022-10-14T00:59:36.430Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: ''
version: 1
