interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_441097fb-50e3-4944-a820-65dadcc6c9a5
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc
  response:
    body:
      string: '[{"errorCode": "NOT_VALID_JSON_WEB_TOKEN", "componentType": "AUTH",
        "message": "Not valid JWT", "details": {}, "date": "2022-11-13T16:51:06.155Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: ''
- request:
    body: '{"secret": "API_TOKEN_b4dc6814-c5e5-4e2d-b840-fdd118af52d5"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/api_clients/api_client_REDACTED
  response:
    body:
      string: '{"token": "token_REDACTED_aca531ae-686d-4405-8883-9bedd21557b8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_441097fb-50e3-4944-a820-65dadcc6c9a5
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc
  response:
    body:
      string: '{"createdByName": "createdByName_REDACTED_6bbd1322-77e7-42cc-8116-d883b3d574d4",
        "lastName": "Patient", "country": null, "secondaryEmail": null, "gender":
        "UNKNOWN", "city": null, "timezone": null, "careTeamMembers": [{"id": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4",
        "pointOfContact": true}], "secondaryPhoneCapabilities": [], "createdAt": "2022-11-02T23:46:43.250Z",
        "accessCode": null, "addressLine1": null, "addressLine2": null, "id": "fcf051b7-1d8e-4912-b402-e2c436e4c2cc",
        "state": null, "secondaryLanguage": null, "email": null, "careTeam": [{"id":
        "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4", "username": "sam", "firstName": "Sam",
        "lastName": "Morgan", "email": "sam@lightmatter.com", "roles": [{"name": "r-admin",
        "primaryRole": true}], "pointOfContact": true, "enabled": true}], "updatedAt":
        "2022-11-07T15:59:18.267Z", "primaryPhoneCapabilities": [], "pointOfContact":
        {"id": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4", "pointOfContact": true}, "zip":
        null, "updatedBy": "updatedBy_REDACTED_2ede852d-ec77-46b5-92dc-ec29a013e2de",
        "updatedByName": "updatedByName_REDACTED_6dd374c9-cfe0-4932-a561-0136a0257629",
        "mrn": null, "externalId": null, "externalGuid": null, "patientPrograms":
        [], "nric": null, "birthDate": null, "cadence": [], "firstName": "Webhook",
        "patientRegionTitle": null, "createdBy": "createdBy_REDACTED_69c06a9f-bd42-4774-94f9-f9c88b1bee3c",
        "phone": null, "middleName": null, "patientTerritories": [], "patientRegion":
        null, "maritalStatus": "UKN", "primaryLanguage": "ENGLISH", "secondaryPhone":
        null, "patientTerritory": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
