interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_c36e62bc-54fc-4a08-b4be-b02a9b07af7f
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc/chat?includeArchived=False&pageSize=20
  response:
    body:
      string: '[{"errorCode": "NOT_VALID_JSON_WEB_TOKEN", "componentType": "AUTH",
        "message": "Not valid JWT", "details": {}, "date": "2022-11-13T16:29:49.886Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: ''
- request:
    body: '{"secret": "API_TOKEN_5fa98f38-8856-4d36-9b83-21726f358d5f"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/api_clients/api_client_REDACTED
  response:
    body:
      string: '{"token": "token_REDACTED_163c2cb3-18ea-4ca5-9a86-cbc0a60f9b76"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_c36e62bc-54fc-4a08-b4be-b02a9b07af7f
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc/chat?includeArchived=False&pageSize=20
  response:
    body:
      string: '{"meta": {"nextPageToken": null, "prevPageToken": null, "pageSize":
        20, "found": true}, "content": [{"sender": {"clientType": "USER", "id": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4",
        "titleName": "Sam Morgan", "patientFullName": null}, "message": "Energy equals
        mass times the speed of light squared.", "externalId": "IM0a37e161c8cb45a2bdf421c1c9d5c060",
        "createdAt": "2022-11-07T15:59:29.000Z"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_c36e62bc-54fc-4a08-b4be-b02a9b07af7f
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/users/a559fa83-e3ec-4773-8ed7-3bc069d1f7c4?type=ID
  response:
    body:
      string: '{"territories": [], "roles": [{"createdAt": "2022-08-08T17:49:14.379Z",
        "updatedAt": "2022-08-08T17:49:14.379Z", "permissionName": "r-admin", "instanceName":
        "sandbox", "type": "SECURITY_ROLE", "primaryRole": true}], "policies": [],
        "seats": [], "seatAssignAllowed": true, "applicationAccess": {"id": "28d01d29-e8bf-46f4-995a-25986783b3b2",
        "createdAt": "2022-08-03T21:37:00.540Z", "updatedAt": "2022-08-03T21:37:51.862Z",
        "userId": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4", "adminAccessEnabled": true,
        "auditSecurityAccessEnabled": true, "instanceAccesses": [{"instanceId": "4ae73a82-a73e-477f-9ac7-933fabf3d0fc",
        "instanceName": "live", "instanceDescription": "Live", "userEmailWithInstanceDomain":
        null, "workshopAccessEnabled": true, "auditDataAccessEnabled": true}, {"instanceId":
        "03e2c7fc-c8cf-47d0-9b55-b6c8a6792243", "instanceName": "sandbox", "instanceDescription":
        "Sandbox", "userEmailWithInstanceDomain": null, "workshopAccessEnabled": true,
        "auditDataAccessEnabled": true}, {"instanceId": "edd053f6-0ea5-47e0-8aca-368ddb6e25bc",
        "instanceName": "staging", "instanceDescription": "Staging", "userEmailWithInstanceDomain":
        null, "workshopAccessEnabled": true, "auditDataAccessEnabled": true}]}, "createdByName":
        "createdByName_REDACTED_bf1f2159-cf6c-4104-b149-7bdd4947b809", "updatedByName":
        "updatedByName_REDACTED_72aa7fe3-dec2-42a8-96c5-758d42bd778c", "id": "a559fa83-e3ec-4773-8ed7-3bc069d1f7c4",
        "username": "sam", "email": "sam@lightmatter.com", "locale": "en-US", "firstName":
        "Sam", "lastName": "Morgan", "enabled": true, "mfaEnabled": false, "statusType":
        null, "createdAt": "2022-08-03T21:37:00.536Z", "updatedAt": "2022-08-03T21:37:00.536Z",
        "ssoAccess": false, "passwordAccess": true, "terminologyName": "english",
        "userState": "ACTIVE", "customUserAttributes": {}, "allowedToReceiveCalls":
        true, "userAttributes": {}, "_root_user": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
