interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_4466b4be-011c-4b00-b62e-d2efd0197c7b
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc
  response:
    body:
      string: '[{"errorCode": "NOT_VALID_JSON_WEB_TOKEN", "componentType": "AUTH",
        "message": "Not valid JWT", "details": {}, "date": "2022-11-03T00:03:41.771Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: ''
- request:
    body: '{"secret": "API_TOKEN_f3ea5e2b-0688-46e9-9930-d572ba69e4f4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.live.welkincloud.io/tenant_REDACTED/admin/api_clients/api_client_REDACTED
  response:
    body:
      string: '{"token": "token_REDACTED_a0ebf5b2-72e7-49bf-a19c-c0388009c6f9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_4466b4be-011c-4b00-b62e-d2efd0197c7b
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/fcf051b7-1d8e-4912-b402-e2c436e4c2cc
  response:
    body:
      string: '{"createdByName": "createdByName_REDACTED_bb7d7c24-5c11-4dd1-9609-3d7fcd97463b",
        "lastName": "Patient", "country": null, "secondaryEmail": null, "gender":
        "UNKNOWN", "city": null, "timezone": null, "careTeamMembers": [], "secondaryPhoneCapabilities":
        [], "createdAt": "2022-11-02T23:46:43.250Z", "addressLine1": null, "addressLine2":
        null, "id": "fcf051b7-1d8e-4912-b402-e2c436e4c2cc", "state": null, "secondaryLanguage":
        null, "email": null, "careTeam": [], "updatedAt": "2022-11-02T23:46:43.250Z",
        "primaryPhoneCapabilities": [], "pointOfContact": null, "zip": null, "updatedBy":
        "updatedBy_REDACTED_eb1bd0e2-0fe3-4aad-950a-4c08c6ff4967", "updatedByName":
        "updatedByName_REDACTED_9b0c78d8-123b-4c40-8d23-fcdeab0551bd", "mrn": null,
        "externalId": null, "externalGuid": null, "patientPrograms": [], "nric": null,
        "birthDate": null, "cadence": [], "firstName": "Webhook", "patientRegionTitle":
        null, "createdBy": "createdBy_REDACTED_271e87e0-7e4b-4dea-bb6c-7906bfd4079f",
        "phone": null, "middleName": null, "patientTerritories": [], "patientRegion":
        null, "maritalStatus": "UKN", "primaryLanguage": "ENGLISH", "secondaryPhone":
        null, "patientTerritory": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
