interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_528f5b08-5895-4c23-8a1e-f98db805b7ac
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/89ec0634-50f3-40b1-981d-22ab39dd3037/cdts/insurance/9be39258-9a81-4dc4-953a-630e4e5fc77b
  response:
    body:
      string: '{"id": "9be39258-9a81-4dc4-953a-630e4e5fc77b", "patientId": "89ec0634-50f3-40b1-981d-22ab39dd3037",
        "cdtId": "56dce447-e13f-4921-be36-ec478cb9e335", "version": 27, "jsonBody":
        {"insurance-phone": null, "external_guid": null, "insured-name-first": "Hello",
        "insured-name-last": null, "created_at": "2022-09-14T15:16:55.403Z", "source_type":
        null, "external_id": null, "insurance-other": null, "created_by_name": "API_CLIENT:HSTDPTFUUBVR",
        "created_by": "4ac93e2f-3643-44f1-8b0d-c061bd9971c6", "policy-number": null,
        "groups-plan": null, "updated_by_name": "API_CLIENT:HSTDPTFUUBVR", "updated_at":
        "2022-09-14T15:16:55.403Z", "insured-by": null, "updated_by": "4ac93e2f-3643-44f1-8b0d-c061bd9971c6",
        "id": "9be39258-9a81-4dc4-953a-630e4e5fc77b", "source_id": null, "source_name":
        null, "insured-primary-full": null}, "cdtName": "insurance"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
