interactions:
  - request:
      body: null
      headers:
        Authorization:
          - API_TOKEN_d2d45845-8aa3-492d-8e04-e7ab46240f6e
      method: GET
      uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/17450e44-c2c8-46c4-9486-0d9bfa16d3aa/chat?includeArchived=False&pageSize=20
    response:
      body:
        string: '{"meta": {"nextPageToken": null,
          "prevPageToken": null, "pageSize": 20, "found": true}, "content": [{"sender":
          {"clientType": "USER", "id": "d2b3d940-01ec-44f3-a2cd-b5298823ec9f", "titleName":
          "Sam Morgan", "patientFullName": null}, "message": "Give me a message", "externalId":
          "IMda11c26dee344175bef9019355530be9", "createdAt": "2022-09-15T03:47:15.000Z"},
          {"sender": {"clientType": "PATIENT", "id": "17450e44-c2c8-46c4-9486-0d9bfa16d3aa",
          "titleName": null, "patientFullName": null}, "message": "Test", "externalId":
          "IM49cd5b9933664377855828d84936c146", "createdAt": "2022-09-14T21:18:23.000Z"},
          {"sender": {"clientType": "PATIENT", "id": "17450e44-c2c8-46c4-9486-0d9bfa16d3aa",
          "titleName": null, "patientFullName": null}, "message": "No, it doesn''t.",
          "externalI[...]
