interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_c59fadcd-9c61-44c3-be50-8b9f19f66fc1
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/patients/49ec74c2-7368-4932-a98f-e5298622c191
  response:
    body:
      string: '{"id": "49ec74c2-7368-4932-a98f-e5298622c191", "externalGuid": null,
        "externalId": null, "mrn": null, "nric": null, "createdAt": "2022-08-04T03:00:34.494Z",
        "updatedAt": "2022-08-04T03:00:34.494Z", "createdBy": "createdBy_REDACTED_f1684586-2a7e-4fff-8046-605fca59fc40",
        "updatedBy": "updatedBy_REDACTED_99592459-dfbd-4774-928e-ebea058bc2f2", "createdByName":
        "createdByName_REDACTED_c08d0d13-e66b-4c15-896f-8c8e7b2a7865", "updatedByName":
        "updatedByName_REDACTED_2dd1d2f6-4184-423a-88b0-f35c9e7c5447", "firstName":
        "Webhook", "lastName": "Patient", "middleName": null, "birthDate": null, "gender":
        "UNKNOWN", "maritalStatus": "UKN", "primaryLanguage": "ENGLISH", "secondaryLanguage":
        null, "email": null, "secondaryEmail": null, "phone": null, "primaryPhoneCapabilities":
        [], "secondaryPhone": null, "secondaryPhoneCapabilities": [], "country": null,
        "state": null, "city": null, "zip": null, "addressLine1": null, "addressLine2":
        null, "timezone": "US/Pacific", "patientTerritories": [], "careTeamMembers":
        [], "patientPrograms": [], "careTeam": [], "cadence": [], "patientRegion":
        null, "patientRegionTitle": null, "patientTerritory": null, "pointOfContact":
        null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
