interactions:
- request:
    body: null
    headers:
      Authorization:
      - API_TOKEN_2ca56cf9-9a0c-4fd7-ba9b-06dbbd46738a
    method: GET
    uri: https://api.live.welkincloud.io/tenant_REDACTED/instance_REDACTED/calendar/events/834e4ab3-3e82-4a74-807c-bf0bb2b1308a
  response:
    body:
      string: '{"id": "834e4ab3-3e82-4a74-807c-bf0bb2b1308a", "createdBy": "createdBy_REDACTED_51901a8d-f186-4394-9a69-e8a552449c43",
        "createdAt": "2022-08-05T00:24:15.725Z", "updatedBy": "updatedBy_REDACTED_194a5117-096e-4733-9205-ca286e202f8e",
        "updatedAt": "2022-08-05T00:24:15.725Z", "externalId": null, "externalIdUpdatedAt":
        "2022-08-05T00:24:15.724Z", "eventTitle": "Test for screen capture", "eventDescription":
        "", "startDateTime": "2022-08-19T01:00:00.000Z", "localStartDateTime": "2022-08-18T18:00:00.000-07:00",
        "endDateTime": "2022-08-19T02:00:00.000Z", "localEndDateTime": "2022-08-18T19:00:00.000-07:00",
        "allDayEvent": false, "duration": 3600, "eventType": "ENCOUNTER", "eventStatus":
        "Scheduled", "eventMode": "VIDEO", "eventColor": "#e67b2d", "hostId": "d2b3d940-01ec-44f3-a2cd-b5298823ec9f",
        "timezone": "US/Pacific", "additionalInfo": null, "participants": [{"id":
        "0aabe701-ddfd-4c60-ab9e-d45c070c323e", "participantId": "d2b3d940-01ec-44f3-a2cd-b5298823ec9f",
        "participantRole": "psm", "participationStatus": "", "attended": false, "timezone":
        "US/Pacific", "firstName": "Sam", "lastName": "Morgan", "deleted": false,
        "hasAccess": true, "email": "sam@lightmatter.com", "phone": "+12014065688",
        "gender": null, "birthDate": null, "enabled": true}, {"id": "27acb7be-0274-464e-ac7a-fabf37be8ee5",
        "participantId": "17450e44-c2c8-46c4-9486-0d9bfa16d3aa", "participantRole":
        "patient", "participationStatus": "", "attended": false, "timezone": "US/Pacific",
        "firstName": "Testy", "lastName": "McTesterson", "deleted": false, "hasAccess":
        false, "email": "testy@mctesterson.com", "phone": null, "gender": "UNKNOWN",
        "birthDate": null, "enabled": null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
